div{
	background:  lightgray;
}

span{
	display:block;
}

img{
	width: 300px;
	display: inline;
	margin: 20px;
}

p a{																																							/* a (Link) in p (paragraph) */
	background: yellow;
	width: 300px;
	display: inline-block;
	
}
